{{ define "body_class" }} tag-template  {{ end }}

{{ define "main" }}

    {{- partial "lists/header.html" . -}}

    {{- partial "lists/main.html" . -}}

    <main id="site-main" class="site-main outer">
        <div class="post-feed">
        {{ if (eq (len $.Site.Taxonomies.tags) 0) }}
        <header class="post-card-header">
            <h1 class="site-title"> No items of type {{ .Type }} have been created... yet 👀 </h1>
        </header>
        {{ else }}
            {{ $type := .Type }}
            {{ range $key, $value := .Site.Taxonomies.tags.Alphabetical }}
                {{ $name := .Name }}
                {{ $count := .Count }}
                {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
                <article class="post-card post">
                    <h2 class="post-card-title"><a href="{{ .Permalink }}">{{ $name }}</a></h2></li>
                    <ul>
                        {{ range $k, $v := .Pages }}
                            <li><h4 class="site-description"><a href="{{ $v.Permalink }}">{{ $v.Title }}</a></h4></li>
                        {{ end }}
                    </ul>
                </article>
                {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </main>
{{ end }}