{{ with .Params.tags }}
{{ $primaryTag := (index . 0) }}
{{ $articles := (index $.Site.Taxonomies.tags $primaryTag).Pages }}
    {{ if (gt (len $articles) 1) }}
        <article class="read-next-card">
            <header class="read-next-card-header">
                <h3><span>More posts about "</span> <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a>"</h3>
            </header>
            <div class="read-next-card-content">
                <ul>
                    {{ range first 4 (where (index $.Site.Taxonomies.tags $primaryTag).Pages "Section" "post") }}
                        {{ if (not (eq (.Scratch.Get "current-url") .Permalink)) }}
                            <li>
                                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="{{.Date.Format "2006-31-01"}}">{{.Date.Format "01 Jan 2006"}}</time> 
                                        {{ if .Params.reading_time }} – {{ .Params.reading_time }} {{ end }}
                                    </p>
                                </div>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </article>
    {{ end }}
{{ end }}